obj/
bin/
packages/
.local/
/Log/
Mp3Cache/
token.txt
.vs/
ToastFish-upstream/
_external/
*.user
*.suo
_backups/
dist/package-staging/
dist/installers/build-installer.log
/Nihongo-ToastFish-Setup.exe
/build-installer.log
